@import './../../assets/css/components/variables.scss';


@media only screen and (max-width: 600px){

    .table{
        border-collapse: collapse;
        table-layout: auto;
        width: 100%;
        
        thead{
            display: none;
        }

        tr{
            border-bottom: 1px solid $table-border-color;
        }

        td{
            display: flex;
            align-items: baseline;
            background-color: aliceblue;
        }

        td:nth-child(1){
            font-size: 1em;
            font-weight: $font-weight-strong;
        }

        td:nth-child(2){
            color: $secundary-font-text-color;
            justify-content: flex-end;
        }

        td:nth-child(2){
            font-size: 0.625em;  
        }

        td:nth-child(3){
            font-size: 0.75em;
        }

        td:nth-child(4){
            font-size: 0.75em;
            justify-content: center;
        }


        td:nth-child(5){
            font-size: 0.625em; 
            color: $alert-color;
            justify-content: flex-end;
        }
        
    }

}