@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'components/variables.scss';
@import 'components/header.scss';
@import 'components/forms.scss';
@import 'components/buttons.scss';
@import 'components/footer.scss';
@import 'components/alerts.scss';
@import 'components/thanks-page.scss';
@import 'components/pagenotfound.scss';

*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: $background-body;
    font-family: $font-text;
    font-weight: $font-weight-light;
    color: $font-text-color;
}

a{
    text-decoration: none;
    color: $link-text-color;
    font-weight: $font-weight-strong;
}

strong{
    font-weight: $font-weight-strong;
}

.container{
    width: 85%;
    margin: auto;
}


h1, h2, h3, h4, h5, h6{
    font-family: $headline-font;
    letter-spacing: 2px;
}