$background-body: #FFFBFF;

$dangerous-color: #F56B6B;
$alert-color: #F56B6B;

$background-button-color: #93A66A;
$font-button-color: #F2F2F2;
$secundary-green-color: #CFCB9B;

$border-footer-color: #8C8C8C;
$border-input-text-color: #93A66A;
$social-media-icons-color: #93A66A;

$white-color: #FFFFFF;

$text-shadow-color: #595959;
$box-shadow-color: #595959;

$link-text-color: #93A66A;
$font-text-color: #595959;
$secundary-font-text-color: #8C8C8C;
$button-font: 'Bebas Neue', sans-serif;
$headline-font:'Anton', sans-serif;
$font-text: 'Lato', sans-serif;
$font-weight-light: 300;
$font-weight-strong: 700;
