@import 'variables.scss';

.img-fluid{
    max-width: 100%;
}

.header{
    height: 100vh;
}

.header .text{
    text-align: center;
}

.header, .logos, .fake-button{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {

    .img-logo{
        max-width: 100%;
    }
}


@media only screen and (min-width: 600px) {

    
}

@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {

} 