@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

$red-color: #F56B6B;

$dark-green-color: #93A66A;
$light-green-color: #CFCB9B;

$dark-gray-color: #595959;
$medium-gray-color: #8C8C8C;

$white-color: #FFFFFF;
$light-gray: #F2F2F2;
$really-light-gray: #FFFBFF;


$font-anton:'Anton', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-light: 300;
$font-strong: 700;